{% extends 'landing-page/layout/main.html' %}
{% block content %}
<!-- Hero Start -->
<section class="hero-1-bg position-relative bg-light d-flex align-items-center" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-title pr-lg-5">
                    <p class="text-uppercase text-primary font-weight-medium f-14 mb-4">Cretive Marketing</p>
                    <h1 class="hero-1-title mb-4 font-weight-normal line-height-1_4">Get Your Professional Website Done With <span class="text-primary font-weight-medium">Deoxa</span></h1>
                    <p class="text-muted mb-4 pb-2">At vero eos et accusamus iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos at dolores molestias excepturi sint occaecati cupiditate.</p>
                    <a href="" class="btn btn-warning">Find Out How <span class="ml-2 right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mt-5 mt-lg-0">
                    <img src="../static/images/hero-1-img.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->

<!-- Service Start -->
<section class="section" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">Our <span class="text-warning">Service</span></h3>
                    <p class="text-muted">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero pulvinar hendrerit id lorem.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-headphones service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Awesome Support</h5>
                    <p class="text-muted service-subtitle mb-4">Et harum quidem rerum facilis expedita distinctio nam libero tempore cum quibusdam nobis.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-tools service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Solutions Business</h5>
                    <p class="text-muted service-subtitle mb-4">Et harum quidem rerum facilis expedita distinctio nam libero tempore cum quibusdam nobis.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-display1 service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Digital Design</h5>
                    <p class="text-muted service-subtitle mb-4">Et harum quidem rerum facilis expedita distinctio nam libero tempore cum quibusdam nobis.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-cup service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Goal Business</h5>
                    <p class="text-muted service-subtitle mb-4">Et harum quidem rerum facilis expedita distinctio nam libero tempore cum quibusdam nobis.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-light service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Branding Identity</h5>
                    <p class="text-muted service-subtitle mb-4">Et harum quidem rerum facilis expedita distinctio nam libero tempore cum quibusdam nobis.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box service-warning">
                    <div class="mb-5">
                        <i class="pe-7s-graph1 service-icon"></i>
                    </div>
                    <h5 class="service-title text-dark font-weight-normal pt-1 mb-4">Dynamic Growth</h5>
                    <p class="text-muted service-subtitle mb-4">Et harum quidem rerum facilis expedita distinctio nam libero tempore cum quibusdam nobis.</p>
                    <a href="#" class="read-more-icon"><span class="right-icon">&#8594;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service End -->

<!-- About us Start -->
<section class="section bg-light" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">About <span class="text-warning">Us</span></h3>
                    <p class="text-muted">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero pulvinar hendrerit id lorem.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2 class="font-weight-light line-height-1_6 text-dark mb-4">Passionate About Creating Templates For Setup</h2>
            </div>
            <div class="col-md-7 offset-md-1">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="text-dark font-weight-light f-20 mb-3">Our Mission</h6>
                        <p class="text-muted font-weight-light">At vero eos accusamus iusto odio dignissim ducimus a blandi praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sit occaecati cupiditate provident similique sunt.</p>
                    </div>
                    <div class="col-md-6">
                        <h6 class="text-dark font-weight-light f-20 mb-3">Our Vision</h6>
                        <p class="text-muted font-weight-light">Temporibus autem quibusdam et aut officiis debitis that aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae at Itaque earum rerum hic tenetur sapiente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About us End -->

<!-- Features Start -->
<section class="section" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">Our <span class="text-warning">Features</span></h3>
                    <p class="text-muted">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero pulvinar hendrerit id lorem.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-5" style="background: url(../static/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="../static/images/features/img-1.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-laptop-mac"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Activity Reporting</h5>
                    <p class="text-muted mb-3 f-15">Et harum quidem rerum facilise expedita distinctio nam libero tempore cum soluta nobis as eligendi optio cumque nihil quis nostrum exercitationem impedit minus omnis repellendus.</p>
                    <a href="#" class="f-16 text-warning">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-6">
                <div class="features-box mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-account-group"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Team Management</h5>
                    <p class="text-muted mb-3 f-15">Sed perspiciatis unde omnis natus error voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo excepturi sint occaecati cupiditate architecto.</p>
                    <a href="#" class="f-16 text-warning">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 mt-5 mt-sm-0" style="background: url(../static/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="../static/images/features/img-2.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5">
            <div class="col-md-5" style="background: url(../static/images/features/features-bg.png) center center">
                <div class="features-img">
                    <img src="../static/images/features/img-3.png" alt="" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="features-box mt-5 mt-sm-0 mb-4">
                    <div class="features-icon my-4">
                        <i class="mdi mdi-chart-bell-curve"></i>
                    </div>
                    <h5 class="text-dark font-weight-normal mb-3 pt-3">Marketing Analysis</h5>
                    <p class="text-muted mb-3 f-15">At vero eos accusamus iusto odio soluta nobis est eligendi optio dignissimos ducimus qui blanditiis praesentium as voluptatum deleniti corrupti quos dolores molestias occaecati.</p>
                    <a href="#" class="f-16 text-warning">Read More <span class="right-icon ml-2">&#8594;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features End -->

<!-- Counter Start -->
<section class="section counter-bg" style="background: url(../static/images/counter-bg-1.jpg) center center">
    <div class="bg-overlay op-75"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h2 class="font-weight-normal text-white mb-2">We've Completed</h2>
                    <h5 class="font-weight-normal text-white-70">More Than 1000+ Work Successfully</h5>
                </div>
            </div>
        </div>
        <div class="row" id="counter">
            <div class="col-lg-3 col-md-6">
                <div class="counter-box text-center text-white mb-4 mb-lg-0">
                    <i class="pe-7s-like2 counter-icon mb-4"></i>
                    <h2 class="mb-2 font-weight-normal"><span class="counter-value mt-4" data-count="620">0</span>+</h2>
                    <p class="mb-0 text-white-70 text-uppercase f-14">Successful Project</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-box text-center text-white mb-4 mb-lg-0">
                    <i class="pe-7s-light counter-icon mb-4"></i>
                    <h2 class="mb-2 font-weight-normal"><span class="counter-value mt-4" data-count="350">0</span>+</h2>
                    <p class="mb-0 text-white-70 text-uppercase f-14">Project Ideas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-box text-center text-white mb-4 mb-lg-0">
                    <i class="pe-7s-smile counter-icon mb-4"></i>
                    <h2 class="mb-2 font-weight-normal"><span class="counter-value mt-4" data-count="800">0</span>+</h2>
                    <p class="mb-0 text-white-70 text-uppercase f-14">Satisfied Clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="counter-box text-center text-white mb-4 mb-lg-0">
                    <i class="pe-7s-star counter-icon mb-4"></i>
                    <h2 class="mb-2 font-weight-normal"><span class="counter-value mt-4" data-count="590">0</span></h2>
                    <p class="mb-0 text-white-70 text-uppercase f-14">Award Win</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter End -->

<!-- Testimonial Start -->
<section class="section bg-light" id="clients">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">Our <span class="text-warning">Clients</span></h3>
                    <p class="text-muted">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero pulvinar hendrerit id lorem.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3 class="font-weight-normal mt-3 line-height-1_4">Some Words From Our <span class="font-weight-medium text-warning">Happy Clients </span></h3>
                <div class="testi-border my-4"></div>
                <p class="text-muted">Itaque earum rerum tenetur a sapiente delectus ut aut reiciendis voluptatibus maiores alias consequatur.</p>
            </div>
            <div class="col-lg-8">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testi-content m-3 position-relative">
                            <div class="testi-box p-4">
                                <ul class="list-unstyled f-15 text-warning mb-2">
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                </ul>
                                <p class="text-muted position-relative mb-0 f-14"><span class="f-20 mr-1">"</span> Sed ut perspiciatis unde omnis at iste natus error a voluptatem accusantium doloremque totam. <span class="f-16">"</span></p>
                            </div>
                            <div class="testi-user mt-4">
                                <div class="media align-items-center">
                                    <img src="../static/images/user/img-1.jpg" alt="" class="mr-3 img-fluid d-block rounded-circle">
                                    <div class="media-body">
                                        <h6 class="mb-0 text-dark f-15">Roberta Guevara</h6>
                                        <p class="text-muted mb-0 f-14">Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- owl item and -->
                    <div class="item">
                        <div class="testi-content m-3 position-relative">
                            <div class="testi-box p-4">
                                <ul class="list-unstyled f-15 text-warning mb-2">
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                </ul>
                                <p class="text-muted position-relative mb-0 f-14"><span class="f-20 mr-1">"</span> Sed ut perspiciatis unde omnis at iste natus error a voluptatem accusantium doloremque totam. <span class="f-16">"</span></p>
                            </div>
                            <div class="testi-user mt-4">
                                <div class="media align-items-center">
                                    <img src="../static/images/user/img-2.jpg" alt="" class="mr-3 img-fluid d-block rounded-circle">
                                    <div class="media-body">
                                        <h6 class="mb-0 text-dark f-15">Roberta Guevara</h6>
                                        <p class="text-muted mb-0 f-14">Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- owl item and -->
                    <div class="item">
                        <div class="testi-content m-3 position-relative">
                            <div class="testi-box p-4">
                                <ul class="list-unstyled f-15 text-warning mb-2">
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                </ul>
                                <p class="text-muted position-relative mb-0 f-14"><span class="f-20 mr-1">"</span> Sed ut perspiciatis unde omnis at iste natus error a voluptatem accusantium doloremque totam. <span class="f-16">"</span></p>
                            </div>
                            <div class="testi-user mt-4">
                                <div class="media align-items-center">
                                    <img src="../static/images/user/img-3.jpg" alt="" class="mr-3 img-fluid d-block rounded-circle">
                                    <div class="media-body">
                                        <h6 class="mb-0 text-dark f-15">Roberta Guevara</h6>
                                        <p class="text-muted mb-0 f-14">Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- owl item and -->
                    <div class="item">
                        <div class="testi-content m-3 position-relative">
                            <div class="testi-box p-4">
                                <ul class="list-unstyled f-15 text-warning mb-2">
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                </ul>
                                <p class="text-muted position-relative mb-0 f-14"><span class="f-20 mr-1">"</span> Sed ut perspiciatis unde omnis at iste natus error a voluptatem accusantium doloremque totam. <span class="f-16">"</span></p>
                            </div>
                            <div class="testi-user mt-4">
                                <div class="media align-items-center">
                                    <img src="../static/images/user/img-4.jpg" alt="" class="mr-3 img-fluid d-block rounded-circle">
                                    <div class="media-body">
                                        <h6 class="mb-0 text-dark f-15">Roberta Guevara</h6>
                                        <p class="text-muted mb-0 f-14">Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- owl item and -->
                    <div class="item">
                        <div class="testi-content m-3 position-relative">
                            <div class="testi-box p-4">
                                <ul class="list-unstyled f-15 text-warning mb-2">
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item mr-1"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item"><i class="mdi mdi-star"></i></li>
                                </ul>
                                <p class="text-muted position-relative mb-0 f-14"><span class="f-20 mr-1">"</span> Sed ut perspiciatis unde omnis at iste natus error a voluptatem accusantium doloremque totam. <span class="f-16">"</span></p>
                            </div>
                            <div class="testi-user mt-4">
                                <div class="media align-items-center">
                                    <img src="../static/images/user/img-5.jpg" alt="" class="mr-3 img-fluid d-block rounded-circle">
                                    <div class="media-body">
                                        <h6 class="mb-0 text-dark f-15">Roberta Guevara</h6>
                                        <p class="text-muted mb-0 f-14">Web Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- owl item and -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial End -->

<!-- Contact Us Start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="title text-center mb-5">
                    <h3 class="font-weight-normal text-dark">Get In <span class="text-warning"> Touch</span></h3>
                    <p class="text-muted">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero pulvinar hendrerit id lorem.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="contact-address">
                    <h4 class="text-dark mb-4">Contact Info</h4>
                    <p class="text-muted f-15">Sed perspici unade omnis natus error sit voluptatem accusantium doloremque minus cumque.</p>
                    <p class="text-muted f-15 mb-4">Et harum quidem rerum facilis est et expedita sit distinctio at libero.</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-address">
                            <h5 class="text-dark mb-3 f-16">Address - A</h5>
                            <p class="text-muted f-15">3165 Roosevelt Wilson Riverside, CA 92507</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-address">
                            <h5 class="text-dark mb-3 f-16">Address - B</h5>
                            <p class="text-muted f-15">1121 Bombardier Way Southfield, MI 48075</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 offset-lg-1">
                <div class="custom-form mt-4 mt-lg-0">
                    <div id="message"></div>
                    <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group app-label">
                                    <label for="name">Name</label>
                                    <input name="name" id="name" type="text" class="form-control" placeholder="Enter your name..">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group app-label">
                                    <label for="email">Email address</label>
                                    <input name="email" id="email" type="email" class="form-control" placeholder="Enter your email..">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label for="subject">Subject</label>
                                    <input type="text" class="form-control" id="subject" placeholder="Enter Subject.." />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label for="comments">Message</label>
                                    <textarea name="comments" id="comments" rows="3" class="form-control" placeholder="Enter message.."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" id="submit" name="send" class="btn btn-warning">Send Message <i class="mdi mdi-telegram ml-2"></i></button>
                                <div id="simple-msg"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us End -->

<!-- Subscribe Start -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-4">
                        <div class="subscribe-icon">
                            <img src="../static/images/icon/1.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="subscribe-icon">
                            <img src="../static/images/icon/2.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="">
                            <img src="../static/images/icon/3.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-5 mb-4">
                    <h6 class="text-muted font-weight-normal">Subscribe To Our Newsletter For New Content, <span class="d-block mt-2">Update And Giveaways!</span></h6>
                </div>
                <div class="text-center subscribe-form mt-4">
                    <form action="/subs" method="POST">
                        {% csrf_token %}
                        <input type="text" name="email" placeholder="Your Email Address...">
                        <button type="submit" class="btn btn-warning">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe End -->
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

{% endblock content %}