<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-4">
                    <a href="layout-one-1.html"><img src="../static/images/logo-dark.png" alt="" class="logo-dark" height="26" /></a>
                    <p class="text-muted mt-4 mb-2">zikriakmale@gmail.com</p>
                    <h6 class="text-muted font-weight-normal">+62 853-6350-2837</h6>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="footer-list-title text-dark mb-3">Services</h6>
                        <ul class="list-unstyled company-sub-menu">
                            <li><a href="">Digital Marketing</a></li>
                            <li><a href="">Business Analysis</a></li>
                            <li><a href="">How It Work</a></li>
                            <li><a href="">Fix & Flip</a></li>
                            <li><a href="">Social Activation</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="footer-list-title text-dark mb-3">About Us</h6>
                        <ul class="list-unstyled company-sub-menu">
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">FAQs</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="footer-list-title text-dark mb-3">Our Address</h6>
                        <p class="text-muted f-14">Jl.Pesantren No.2B , Medan sunggal , Medan , Sumatera Utara</p>
                        <h6 class="text-muted pb-2">Email: zikriakmale@gmail.com</h6>
                        <ul class="list-unstyled footer-social-list mt-4">
                            <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="text-center text-muted">
                    <p class="mb-0 f-15">2020 © Deoxa. Design by Themesdesign</p>
                </div>
            </div>
        </div>
    </div>
</section>