<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Deoxa - Responsive Bootstrap 4 Landing Page Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Premium Bootstrap 4 Landing Page Template" />
        <meta name="keywords" content="bootstrap 4, premium, marketing, multipurpose" />
        <meta content="Themesdesign" name="author" />
        <!-- favicon -->
        <link rel="shortcut icon" href="../static/images/favicon.ico">

        <!-- icon -->
        <link href="../static/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../static/css/pe-icon-7.css" />

        <!--Slider-->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />

        <!-- css -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css" />

    </head>
    <body>

        {% include 'landing-page/layout/loader.html' %}

        <!--Navbar Start-->
        {% include 'landing-page/layout/navbar.html' %}
        <!-- Navbar End -->

        <!-- Content Start -->
        {% block content %}
        {% endblock content %}
        <!-- Content End -->
        <!-- footer Start -->
        {% include 'landing-page/layout/footer.html' %}
        <!-- footer End -->

        <!-- javascript -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/scrollspy.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Counter js -->
        <script src="{% static 'js/counter.int.js' %}"></script>
        <!-- carousel -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- Main Js -->
        <script src="{% static 'js/app.js' %}"></script>

    </body>
</html>